# --- Banco de Dados (PostgreSQL) ---
POSTGRES_DB=roadsense_db
POSTGRES_USER=roadsense_admin
POSTGRES_PASSWORD=forte_e_secreta
POSTGRES_PORT_EXTERNAL=5433

# --- RabbitMQ ---
RABBITMQ_DEFAULT_USER=roadsense_mq
RABBITMQ_DEFAULT_PASS=mypass_mq
RABBITMQ_PORT_AMQP=5673
RABBITMQ_PORT_UI=15673

# --- Redis (Cache) ---
REDIS_PASSWORD=rdt_cache_pass_prod
REDIS_PORT_EXTERNAL=6381
REDIS_MAX_MEMORY=500gb

# --- Aplicação ---
PRODUCTION_ENV=true
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@sql:5432/${POSTGRES_DB}
REDIS_HOST=redis
REDIS_PORT=6379
