# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
build
.idea/
# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg-info/
*.egg
*.egg-info/
*.mo
*.po
*.pyo
*.pgr
*xml
*.txt


task*
esquerda
br_box.html
*_debug.txt