# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
build

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg-info/
*.egg
*.egg-info/
*.mo
*.po
*.pyo
*.pgr
*xml


task*
esquerda
br_box.html