numpy==2.0.0
torch
torchvision
pandas
pyyaml
requests
piexif
sqlalchemy
geoalchemy2
geopy
opencv-python
tqdm
shapely
folium
pyproj
psycopg2-binary 
python-Levenshtein
openpyxl
scipy
scikit-learn
geoalchemy2
timm==0.6.7
